.App {
font-family: 'ZCOOL XiaoWei', serif;
  text-align: center;
  margin: auto;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#quote-box {
  border-bottom: 1px black solid;
  border-radius: 25px; 
  padding: 5px;
}

.card-header {
	font-family: 'Great Vibes', cursive;
	font-size: 4vw;
}

.card-body {
	min-height: 200px;
}

.blockquote-footer {
	font-family: 'Great Vibes', cursive;
	font-size: 2vw;
}

.card {
	background-color: rgb(255,255,255,0.7);
}

p {
	font-size: 1.5vw;
}

button {
	padding: 5px;
}

#id {
	padding: 5px;
}

#text::before {
	font-size: 2.5vw;
	opacity: 0.5;
	content: "\"" ;
}

#text::after {
	font-size: 2.5vw;
	opacity: 0.5;
	content: "\"" ;
}

@media only screen and (max-width: 800px) {

   .card-header {
	font-size: 7vw;
	}

  	p {
    font-size: 4vw;
  	}

  	#text::before {
	font-size: 4vw;
	opacity: 0.5;
	content: "\"" ;
}

	#text::after {
	font-size: 4vw;
	opacity: 0.5;
	content: "\"" ;
}

  	.blockquote-footer {
	font-size: 5vw;
	}
}


